[build]
  base = "."
  command = "npm run build"
  publish = ".next"

[dev]
  command = "npm run dev"
  port = 3000
  targetPort = 3000
  autoLaunch = true

[[plugins]]
  package = "@netlify/plugin-nextjs"
